<h1 align="center">Recipe Info</h1>

<div align="center">
  <p><%= @recipe.name %></p>
  <p><%= @recipe.ingredients %></p>
  <p><%= @recipe.cook_time %></p>
  <p><%= @recipe.description %></p>
</div>
